body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
a {
  color: #00B7FF;
}

.panel {
 width: 80%;
 margin: 0 auto;
 border-radius: 10px;
}

.panel-body,.panel-heading {
 text-align: center;
}
.fa-ban {
 color: red;
}
.fa-heart {
 color: #78AB46;
}
.img-center {
 width: 50%;
 margin: 0 auto;
}
.actions {
 display: block;
 width: 60%;
}
.icon {
 border: none;
 background-color: transparent;
}

.logo {
 text-align: center;
 font-size: 100px;
 font-family: 'Quicksand', serif;
}

.corgi {
 font-family: 'Hind', sans-serif;
}

.btn-liked {
 width: 200px;
 margin: 0 auto;

}
